In [48]:
import pandas as pd

#### The Data is  Bike-Share Navigate
- data contain all months in 2020

In [49]:
# import all data from first month to the last month 
bikes_q1 = pd.read_csv("bikes_2020_1_4.csv")
bikes_5 = pd.read_csv("bikes_2020_5.csv")
bikes_6 = pd.read_csv("bikes_2020_6.csv")
bikes_7 = pd.read_csv("bikes_2020_7.csv")
bikes_8 = pd.read_csv("bikes_2020_8.csv")
bikes_9 = pd.read_csv("bikes_2020_9.csv")
bikes_10 = pd.read_csv("bikes_2020_10.csv")
bikes_11= pd.read_csv("bikes_2020_11.csv")
bikes_12 = pd.read_csv("bikes_2020_12.csv")

In [50]:
# using .shape function to get the rows and columns
print(bikes_q1.shape)
print(bikes_5.shape)
print(bikes_6.shape)
print(bikes_7.shape)
print(bikes_8.shape)
print(bikes_9.shape)
print(bikes_10.shape)
print(bikes_11.shape)
print(bikes_12.shape)

(426887, 13)
(200274, 13)
(343005, 13)
(551480, 13)
(622361, 13)
(532958, 13)
(388653, 13)
(259716, 13)
(131573, 13)

In [51]:
#all column should be 3 
#let's sum all rows 
sum_all_rows = bikes_q1.shape[0]+bikes_5.shape[0]+bikes_6.shape[0]+bikes_7.shape[0]+bikes_8.shape[0]\
+bikes_9.shape[0]+bikes_10.shape[0]+bikes_11.shape[0]+bikes_12.shape[0]
print("sum_all_rows: ",sum_all_rows)

sum_all_rows:  3456907

In [52]:
#add all months togher
df_bikes_2020 = bikes_q1.append(bikes_5,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_6,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_7,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_8,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_9,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_10,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_11,ignore_index=True)
df_bikes_2020 = df_bikes_2020.append(bikes_12,ignore_index=True)

In [53]:
# check if all rows equal to sum of all rows
print(df_bikes_2020.shape[0]==sum_all_rows)
print()
print("IF True that's okay we did it will")

True

IF True that's okay we did it will

In [54]:
#using .info to get all information about the data
df_bikes_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456907 entries, 0 to 3456906
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 342.9+ MB

In [55]:
# started_at ,ended_at  should be datatime needs to be converted
df_bikes_2020['started_at'] = pd.to_datetime(df_bikes_2020['started_at'])
df_bikes_2020['ended_at'] = pd.to_datetime(df_bikes_2020['ended_at'])

In [56]:
df_bikes_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456907 entries, 0 to 3456906
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 342.9+ MB

In [57]:
#check if there a duplicated values
sum(df_bikes_2020.duplicated())

0

In [58]:
# check for null values
df_bikes_2020.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name     94656
start_station_id       95282
end_station_name      110782
end_station_id        111243
start_lat                  0
start_lng                  0
end_lat                 4156
end_lng                 4156
member_casual              0
dtype: int64

In [59]:
# drope all null values
df_bikes_2020.dropna(inplace=True)

In [60]:
# check again if there any null values
df_bikes_2020.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

(3304704, 13)