### Case Study 1: How Does a Bike-Share Navigate Speedy Success?

In [69]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
sns.set()

In [70]:
# this function read csv
def get_csv(file):
    data = pd.read_csv(file)
    return data

In [71]:
col=['ride_id','rideable_type','started_at','ended_at','start_station_name','start_station_id','end_station_name'\
                                               ,'end_station_id','start_lat','start_lng','end_lat','end_lng','member_casual']

In [72]:
# extract all csv files into one csv file
def extract():
    extracted_data = pd.DataFrame(columns=col)
    all_files = glob.glob( "*.csv")
    for csv in all_files:
        extracted_data = extracted_data.append(get_csv(csv), ignore_index=True)
        
        
    return extracted_data

In [73]:
# add variable that hold the data fram
df_bikes_2020 = extract()

In [74]:
df_bikes_2020.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313,Rush St & Hubbard St,125,41.926101,-87.638977,41.890345,-87.626068,casual
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227,Kedzie Ave & Milwaukee Ave,260,41.948172,-87.663911,41.929528,-87.707818,casual
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102,University Ave & 57th St,423,41.773462,-87.585372,41.791455,-87.600050,casual
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165,Broadway & Sheridan Rd,256,41.950855,-87.659244,41.952809,-87.650103,casual
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190,Stave St & Armitage Ave,185,41.928857,-87.663962,41.917777,-87.691434,casual

In [75]:
#using .info to get all information about the data
df_bikes_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456907 entries, 0 to 3456906
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 342.9+ MB

In [76]:
# started_at ,ended_at  should be datatime needs to be converted
df_bikes_2020['started_at'] = pd.to_datetime(df_bikes_2020['started_at'])
df_bikes_2020['ended_at'] = pd.to_datetime(df_bikes_2020['ended_at'])

In [77]:
# check again for data types
df_bikes_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456907 entries, 0 to 3456906
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 342.9+ MB

In [78]:
#check if there a duplicated values
sum(df_bikes_2020.duplicated())

0

In [79]:
# check for null values
df_bikes_2020.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name     94656
start_station_id       95282
end_station_name      110782
end_station_id        111243
start_lat                  0
start_lng                  0
end_lat                 4156
end_lng                 4156
member_casual              0
dtype: int64

In [80]:
# drope all null values
df_bikes_2020.dropna(inplace=True)

In [81]:
# check again if there any null values
df_bikes_2020.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [82]:
df_bikes_2020.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313,Rush St & Hubbard St,125,41.926101,-87.638977,41.890345,-87.626068,casual
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227,Kedzie Ave & Milwaukee Ave,260,41.948172,-87.663911,41.929528,-87.707818,casual
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102,University Ave & 57th St,423,41.773462,-87.585372,41.791455,-87.600050,casual
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165,Broadway & Sheridan Rd,256,41.950855,-87.659244,41.952809,-87.650103,casual
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190,Stave St & Armitage Ave,185,41.928857,-87.663962,41.917777,-87.691434,casual

In [95]:
# add new column that will calcualte the minutes for every ride
df_bikes_2020['ride_length'] = abs(df_bikes_2020['ended_at'].dt.minute - df_bikes_2020['started_at'].dt.minute)

In [96]:
# add a column for a month
df_bikes_2020['month'] = df_bikes_2020['started_at'].dt.month_name()

In [ ]:
# add a column for day name
df_bikes_2020['day_name'] = df_bikes_2020['started_at'].dt.day_name()

In [ ]:
# add start and end stations name together it will be useful for visualizing
df_bikes_2020['startName_endName'] = df_bikes_2020['start_station_name']+":"+df_bikes_2020['end_station_name']

In [ ]:
df_bikes_2020.head()

- team will design a new marketing strategy to convert casual riders into annual members. 
- But first, Cyclistic executives must approve your recommendations, 
- so they must be backed up with compelling data insights and professional data visualizations.
- we want to understand the structure of riders
#### what is the percentage for casual,annual memeber ?

In [ ]:
#get percentage for casual and member
percentage_casual = round(df_bikes_2020[df_bikes_2020['member_casual']=='casual'].shape[0]/df_bikes_2020.shape[0],2)
percentage_member = round(df_bikes_2020[df_bikes_2020['member_casual']=='member'].shape[0]/df_bikes_2020.shape[0],2)

In [ ]:
slice = [percentage_casual,percentage_member]
labels = ['Casual','Member']
explode = [0.07,0]
plt.pie(slice,labels = labels,explode=explode,autopct='%1.0f%%')
plt.title("Casual Vs Member")
plt.show()

- the percentage of causal is 39% and the member is 61%
- How customers use our bikes and which stations have the highest percentage of riders?
- what is most common days for ridders?
- what are the maximum, minimum, and average trip durations?
- what is the percentage of a rideable type for casual and member riders?

-----------------------------

In [ ]:
# let's a slice for member and casual
df_casual = df_bikes_2020[df_bikes_2020['member_casual']=='casual'].copy()
df_member = df_bikes_2020[df_bikes_2020['member_casual']=='member'].copy()

In [ ]:
df_casual.head()